<div class="container text-center">
    <h1>About Us</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    for developers, investors, and entrepreneurs to meet.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">    
      <center>
          <img class="weston-profilepic" src="https://pbs.twimg.com/profile_images/858375370843836416/daIXHnMB.jpg" width="200" height="200">
        <h2><b>Weston Ludeke</b>&nbsp;• CEO and Founder</h2><br>
        <p>DevMatch was developed with love in Houston, Texas as part of the free and excellent <a href="http://upskillcourses.com">Upskill Courses</a> class in a continuing quest to learn the art of computer programming.<br>
           <br>Follow Weston on <a href="http://twitter.com/westonludeke">Twitter</a>, 
           <a href="http://linkedin.com/in/westonludeke">LinkedIn</a>, 
           <a href="http://github.com/westonludeke">GitHub</a>, and 
           <a href="http://westonludeke.com">his blog</a>.
        </p>
      </center>
    </div>
  </div>
</div>